/* MEDIA 320 */

@media screen and (min-width: 320px) {
  .section-four > .conteiner {
    width: 280px;
  }
}

/* MEDIA 428 */
/* SECTION FOUR */
@media screen and (min-width: 428px) {
  .conteiner {
    width: 428px;
  }
  .list-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  /* SECTION SECOND */
  .section-text {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .section-text-second {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .section-text-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /* SECTION FIVE */
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }
  .section-five {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-link {
    height: 88px;
    width: 190px;
  }
  /* SECTION HERO */
  .section > .conteiner {
    padding-right: 54px;
    padding-left: 54px;
    text-align: center;
  }
  .modal {
    width: 392px;
  }
}

/* MEDIA 768 */
/* SECTION FOUR */
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
  .list-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .section-four > .conteiner {
    width: 552px;
  }

  /* SECTION SECOND */
  /* SECTION FOUR */
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .section-text-second {
    text-align: start;
  }
  /* SECTION FIVE */
  .customers-link {
    height: 88px;
    width: 168px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  /* SECTION HERO */
  .section {
    height: 436px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }
  .section-first {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
  .section > .conteiner {
    padding-right: 136px;
    padding-left: 136px;
  }
  /* FOOTER */
  .first-footer-conteiner {
    max-width: 264px;
  }
  .subscribe-form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .subscribe-label {
    width: 264px;
  }
  .done > .footer-conteiner {
    padding: 0 108px;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .modal {
    width: 408px;
    padding: 24px;
  }

}

/* MEDIA 1158 */
/* SECTION FOUR */
@media screen and (min-width: 1158px) {
  .conteiner {
    width: 1158px;
  }
  .list-team {
    flex-direction: row;
    gap: 64px 24px;
  }
  .section-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-four > .conteiner {
    width: 1158px;
  }

  /* SECOND SECTION */
  .box-second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .strategy-icon {
    height: 64px;
    width: 64px;
  }
  .section-text-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    margin-bottom: 8px;
  }
  .section-text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
  }
  .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  /* SECTION FIVE */
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .section-five {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* SECTION HERO */
  .section {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1.jpg);
  }
  .section > .conteiner {
   padding: 0px 15px;
    width: 526px;
  }
  .section-first {
    margin-bottom: 48px;
  }
  /* SECTION THREE */
  .section-three {
    display: block;
    padding-top: 24px;
    padding-bottom: 120px;
  }
  /* FOOTER */
  .done {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .done > .footer-conteiner {
    flex-wrap: nowrap;
    gap: unset;
    margin: 0 auto;
    padding: 0 15px;
  }
  .first-footer-conteiner {
    margin-right: 120px;
  }
  .second-footer-conteiner {
    margin-right: 80px;
  }

  }


/* MEDIA 428 MAX */
/* SECTION FIVE */
@media screen and (max-width: 427px) {
  .customers-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .customers-link {
    height: 88px;
    width: 190px;
  }
  /* SECTION HERO */
  .section > .conteiner {
    padding-right: 54px;
    padding-left: 54px;
    text-align: center;
  }
}

/* MEDIA 768 MAX */
/* SECOND SECTION + */
@media screen and (max-width: 767px) {
  .section-text {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .section-text-second {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .section-text-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /* SECTION HERO */
  .section-first {
    text-transform: capitalize;
  }
  /* FOOTER */
  .done > .conteiner {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }
  .first-footer-conteiner {
    align-items: center;
    max-width: 268px;
    display: flex;
    flex-direction: column;
  }
  .second-footer-conteiner > .footer-soc-title {
    text-align: center;
  }
  .third-footer-section > .footer-subscribe-title {
    text-align: center;
  }
}

/* MEDIA 1158 MAX */
/* SECOND SECTION + */
@media screen and (max-width: 1157px) {
  .box-second {
    display: none;
  }
  /* FOOTER */
  .done > .footer-conteiner {
    gap: 72px 24px;
  }
}
